@model HomeViewModel
@inject IOptions<ApplicationConfigurations> Configuration
@{
    ViewData["Title"] = "Home Page";
}

@functions
{
    public string SetImagePath(string path = null) =>
        Configuration.Value.ImagesFolder + (!string.IsNullOrEmpty(path) ? path : Configuration.Value.ImagePlaceholderPath);
}

<div class="row">
    <div class="col-md-4 col-lg-3">
        <div class="jumbotron py-4">
            <h4>All categories</h4>
            @if (!Model.Categories.IsNullOrEmpty())
            {
                <ul class="list-unstyled m-0">
                    @foreach (var category in Model.Categories)
                    {
                        <li><a class="card-link" href="#">@category.Name</a></li>
                    }
                </ul>
            }
        </div>
    </div>

    <div class="col-md-8 col-lg-9">
        <div class="d-flex mb-3">
            <input id="js-search-input" class="form-control mr-2" name="searchString" type="search" placeholder="Search by name and description" aria-label="Search">
            <button id="js-clear-search-button" class="btn btn-outline-secondary" title="Search">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </button>
        </div>

        <ul id="js-items-list" class="list-group" data-currency-symbol="@Configuration.Value.CurrencySymbol">
            @foreach (var item in Model.Items)
            {
                <li class="list-group-item">
                    <div class="d-flex align-items-center">
                        <div class="img-cover">
                            <a class="card-link text-wrap" href="#"><img src="@SetImagePath(Model.Covers.FirstOrDefault(c => c.ItemId == item.Id)?.Path)" alt="@item.Name" /></a>
                        </div>
                        <div class="d-flex justify-content-between flex-column p-0 pl-3 w-100">
                            <h5><a class="card-link text-wrap" href="#">@item.Name</a></h5>
                            <div class="mb-1 limited-text line-clamp-1">
                                @for (int i = 0; i < item.Categories.Count; i++)
                                {
                                    <a class="ml-0" href="#" @*asp-route-categoryId="@item.Categories[i].Id"*@>@item.Categories[i].Name</a>
                                }

                                @if (item.TradeEnabled)
                                {
                                    @:exchange is available
                                }
                            </div>
                            <div class="text-black-50 mb-2 limited-text line-clamp-2 hidden-sm">
                                @if (!string.IsNullOrEmpty(item.Description))
                                {
                                    @(new HtmlString(item.Description.Replace("\r\n", "<br>")))
                                }
                            </div>
                            <div class="d-flex flex-row flex-wrap justify-content-between align-items-center">
                                <h5>Price: @(item.PriceType == PriceType.Definite ? item.Price?.ToString(CultureInfo.InvariantCulture) + Configuration.Value.CurrencySymbol : item.PriceType.ToString())</h5>
                                <div class="small text-muted js-item-publishing-date" data-utc-datetime="@item.PublishingDate.ToString(CultureInfo.InvariantCulture)"></div>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/to-local-time-converter.js"></script>
<script src="~/js/searching-filtering.js"></script>