@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h4>All categories</h4>
        <ul class="list-unstyled mb-0">
            @for (int i = 0; i < 3; i++)
            {
                <li><a class="card-link" href="#">Technics</a></li>
                <li><a class="card-link" href="#">Cars</a></li>
                <li><a class="card-link" href="#">Furniture</a></li>
                <li><a class="card-link" href="#">Repair</a></li>
            }
            <li class="mt-2"><a class="card-link" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Show all...</a></li>
        </ul>
        <div class="collapse" id="collapseExample">
            <hr />
            <ul class="list-unstyled mt-0">
                @for (int i = 0; i < 2; i++)
                {
                    <li><a class="card-link" href="#">Technics</a></li>
                    <li><a class="card-link" href="#">Cars</a></li>
                    <li><a class="card-link" href="#">Furniture</a></li>
                    <li><a class="card-link" href="#">Repair</a></li>
                }
            </ul>
        </div>
    </div>

    <div class="col-md-9">
        <ul class="list-group">
            @foreach (var item in Model.Items)
            {
                <li class="list-group-item">
                    <div class="d-flex align-items-center">
                        <div class="img-cover">
                            <a class="card-link text-wrap" href="#"><img src="~/img/car_billboard-image.jpg" alt="@item.Name" /></a>
                        </div>
                        <div class="d-flex justify-content-between flex-column p-0 pl-3">
                            <h5><a class="card-link text-wrap" href="#">@item.Name</a></h5>
                            <div class="mb-1 limited-text line-clamp-1">Some category@(item.TradeEnabled ? ", exchange is possible" : "")</div>
                            <div class="text-black-50 mb-2 limited-text line-clamp-2 hidden-sm">@item.Description</div>
                            <div class="d-flex flex-row flex-wrap justify-content-between align-items-center">
                                <h5>Price: @(item.PriceType == PriceType.Definite ? item.Price?.ToString("C2", CultureInfo.CreateSpecificCulture("en-US")) : item.PriceType.ToString())</h5>
                                <div class="small text-muted">@item.PublishingDate</div>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
